EXPO_PUBLIC_ENTRA_TENANT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
EXPO_PUBLIC_ENTRA_CLIENT_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
EXPO_PUBLIC_DATAVERSE_URL=https://flyktningportalenutvikling.crm4.dynamics.com
EXPO_PUBLIC_DATAVERSE_SCOPE=https://flyktningportalenutvikling.crm4.dynamics.com/user_impersonation
EXPO_PUBLIC_BUILD_NUMBER=local-dev
